.Order {
  width: 80%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
}

.Order p span {
  padding: 5px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: 1px 2px 0px 0px #ccc;
  text-transform: capitalize;
}
