.OrderCheckoutSummary {
  text-align: center;
  width: 80%;
  margin: auto;
}

.OrderCheckoutSummary .Burger {
  width: 450px;
  height: 400px;
}

@media (max-width: 600px) {
  .OrderCheckoutSummary {
    width: 500px;
  }

  .OrderCheckoutSummary .Burger {
    width: 350px;
    height: 300px;
  }
}
